* {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  padding: 10px 0;
}

.navbar .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  padding: 0;
}

.navbar--text {
  text-transform: uppercase;
  font-size: 1.2ch;
}

.extra-padding {
  padding-bottom: 5px;
}

.navbar select {
  width: 200px;
  height: 30px;
}

h1 {
  max-width: 200px;
  font-weight: 800;
}

h3 {
  padding: 1% 10%;
  font-weight: 500;
  font-size: 2.8ch;
}
